<launch>
 
  <arg name="model" default="$(find vehivle_model_description)/car_model.urdf"/>
  <arg name="gui" default="False"/>
  <arg name="rvizconfig" default="$(find vehivle_model_description)/urdf.rviz"/>
 
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
 
</launch>
